#fs-donation-tab {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.12);
  transition: right 1s;
  transform: rotate(-90deg);
  transform-origin: bottom right;

  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-stretch: condensed;
  font-family: "Amnesty Trade Gothic Condensed", Helvetica, Roboto, Arial,
    sans-serif;
  line-height: 18px;
  letter-spacing: 0.04em;
  padding: 18px 30px;
  margin-right: 0;

  position: fixed;
  top: 40%;
  right: -100px;

  white-space: unset;
}

#fs-donation-tab.floating-tab-show {
  right: 0;
}
#fs-donation-tab.floating-tab-hide {
  right: -100px;
}

#fs-donation-tab.fixed-in-page {
  position: absolute;
}
